h1, p {
    text-align: center;
}
.button {
    background: beige;
    width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid;
    margin: 50px auto;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}
form {
    margin: auto;
    width: 410px;
}