doctype html
html
    head
        title="Logowanie do Google "
    body
        h1 Logowanea do konta Google
        form(action="/auth/google")
            button(type="submit") Zaloguj się przez Google