doctype html
html
    head
        title="Logowanie do Google"
        link(rel="stylesheet", href="style.css", type="text/css")
    body
    div.button
        a(href="/auth/google") Przejdź do logowania