doctype html
html
    head
        title="Dostęp autoryzowany"
    body
        h1 Jesteś zalogowany do GOOGLE
        form(action="https://mail.google.com/mail/u/0/#inbox")
            button(type="submit") Przejdź do skrzynki odbiorczej G-maila